/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
* {
    margin: 0;
    padding: 0;
}
body {
    background: #f0f0f0;
}
.main-visual {
    height: 400px;
    background: url(/assets/bg.png);
    text-align: center;
    color: #fff;
}
.main-visual .logo {
    padding: 100px 0 30px;
}
.lead-text {
    font-size: 26px;
    line-height: 2em;
    text-shadow: 0px 2px 0px rgba(100, 100, 100, 1);
    font-family: "Kozuka Gothic Pro", "小塚ゴシック Pro";
}
.common-header {
    height: 60px;
    background: url(/assets/bg.png);
    color: #fff;
}
.common-header .inner {
    position: relative;
    padding: 0;
}
.common-header .logo {
    position: absolute;
    top: 0;
    left: 0;
}
.common-header .lead-text {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 60px;
    font-size: 16px;
    font-weight: normal;
}
.status {
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.status .lead-text {
    margin: 40px 0;
    line-height: 35px;
}
.contents {
    background: #fefefe;
}
.inner {
    width: 800px;
    margin: 0 auto;
    padding: 30px 0;
}
.bottom .inner {
    padding: 60px 0;
}
.form-upload {
    width: 600px;
    margin: 70px auto;
    text-align: center;
}
.display-filename {
    outline: none;
    width: 428px;
    margin: 3px 0 0;
    padding: 9px 10px 9px;
    border: 1px solid #ddd;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0 -1px 1px rgba(50, 50, 50, 0.3);
    font-size: 14px;
}
.input-file-box {
    display: block;
    position: relative;
    overflow: hidden;
    float: right;
    width: 120px;
    height: 40px;
    background: url(/assets/btn-upload.png);
}
.input-file-box:active {
    background-position: 0 40px;
}
.file {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 40px;
    z-index: 101;
}
.submit {
    outline: none;
    width: 250px;
    height: 40px;
    margin: 30px 0 15px;
    padding: 2px 10px 0;
    color: #fff;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 16px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.submit {
    box-shadow: 0 5px 0 #b04633;
    background: #ca503a;
span { text-shadow: 0px 1px 0px #a11c3d; }
}
.submit:hover { background-color: #e35a42; }
.submit:active {
    margin: 35px 0 10px;
    box-shadow: none;
    background-color: #963c2c;
}
footer {
    padding: 30px 0;
    border-top: 1px solid #ccc;
}
.copyright {
    color: #999;
    text-align: center;
    font-size: 12px;
}
h2 {
    margin: 0 0 15px;
    padding: 10px 10px;
    border-bottom: 3px double #ccc;
}
dt {
    float: left;
    margin: 0 0 30px;
    padding: 10px 0;
    width: 8em;
    text-align: right;
}
dt.link {
    padding: 0;
}
dt a {
    display: block;
    width: 100%;
    padding: 10px 0;
    color: #fff;
    background: #999;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    -ms-border-radius: 15px;
    text-align: center;
    text-decoration: none;
}
dt a:hover {
    color: #333;
    background: #ccc;
}
dd {
    padding: 10px 0 25px 9em;
    border-bottom: 1px dotted #ccc;
}
dd:last-child {
    border-bottom: none;
}
dd span {
    margin: 0 0 0 4px;
    font-size: 12px;
    color: #666;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.invisible {
    display: none;
}
table tr:first-child th {
    border-bottom: 3px double #ccc;
}
table th,
table td{
    padding: 15px;
    text-align: center;
    border-bottom: 1px dotted #ccc;
}
table tr:last-child th,
table tr:last-child td {
    border-bottom: none;
}
table td {
    font-weight: normal;
}
.prev a {
    display: block;
    width: 100%;
    margin: 15px 0 0;
    padding: 10px 0;
    color: #fff;
    background: #999;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    -ms-border-radius: 15px;
    text-align: center;
    text-decoration: none;
}
.prev a:hover {
    color: #333;
    background: #ccc;
}


.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.clearfix {
    min-height: 1px;
}

* html .clearfix {
    height: 1px;
    /*¥*//*/
    height: auto;
    overflow: hidden;
    /**/
}